@import './mixins.scss';

form {
  @include box;

  label {
    font-size: 1rem;
    color: $textColor;
  }

  input {
    padding: 5px 20px;
    width: 100%;
    margin: 10px 0;
  }

  input[type="submit"] {
    color: $accentColor;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
}